### IntelliJ IDEA ###

*.iws
*.iml
*.ipr
out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

/core/logs
/core/log
/logs
/log

*.salive

###
.idea

